* {
  margin: 0;
  border: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.logo {
  max-width: 3.4rem;
  padding-right: 1rem;
}

.quienes-somos,
.destacados,
.contacto {
  padding: 3rem 0;
}

hr {
  background-color: rgb(12, 218, 218);
}

.subtitulos {
  font-size: 2rem;
  font-weight: 700;
}

.iconos {
  font-size: 1.6rem;
  color: #ffffff;
  background-color: rgb(12, 218, 218);
  text-align: center;
}

.bg-tarjetas {
  background-color: rgb(12, 218, 218);
}

.footer {
  background-color: rgb(12, 218, 218);
  padding: 1rem 0;
}

.footer p {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.footer i {
  font-size: 3rem;
  padding: 0.5rem 1rem 0 0;
}
