* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-color: black;
}

.logo {
  max-width: 10%;
  padding-right: 1rem;
}

.quienes-somos {
  padding: 3rem 0;
}

hr {
  background-color: rgb(12, 218, 218);
}

.iconos {
  color: #ffffff;
  background-color: rgb(12, 218, 218);
  text-align: center;
}

.destacados {
  padding: 3rem 0;
}
